<!doctype html>
<html>
  <head>
    <title>LOPFIT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-6/fontawesome.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-6/regular.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-6/solid.css') }}" />
    <link href="{{ url_for('static', filename='quill/quill.snow.css') }}" rel="stylesheet" />
    <script src="{{ url_for('static', filename='quill/quill.js') }}"></script>
    <script src="{{ url_for('static', filename='ops.js') }}"></script>
    <script src="{{ url_for('static', filename='Tree.js') }}"></script>
  </head>
  <body>
    <div id="ModalConatiner" class="modal"></div>
    <div id="header">
      <h1>Lots Of Phrases Fit In This</h1>
    </div>
    <div id="Main">
      <div id="Phrases" name="Phrases">
        <div id="Phrases-Toolbar">
          <button id="New_Folder" class="doc"><span></span></button>
          <button id="New_Phrase"><span class></span></button>
          <button id="Move" class="disabled" disabled><span></span></button>
          <button id="Remove" class="disabled" disabled><span></span></button>
          <button id="Settings"><span class></span></button>
        </div>
        <ul id="Phrase_List" role="tree" aria-labelledby="tree_label">
          {{phrase_list|safe}}
        </ul>
      </div>
      <form id="Phrase">
        <div id="Phrase_Header">
          <div id="Phrase_Header_Left">
            <div id="Phrase_Name">
              <label for="pname">Name: </label>
              <input type="text" id="pname" name="pname">
            </div>
            <div id="Phrase_Trigger">
              <label for="ptrigger">Trigger: </label>
              <input type="text" id="ptrigger" name="ptrigger">
            </div>
          </div>
          <div id="Phrase_Header_Right">
            <button id="Save"><span></span></button>
          </div>
        </div>
        <div id="Phrase_Text"></div>
      </form>
      <script>var quill = new Quill('#Phrase_Text', {theme: 'snow'});</script>
    </body>
    </div>
  </body>
</html>
