<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <ul id="Phrase_List">
      {% for phrase in phrases %}
        <li><a href="{{url_for('phrase',ID=phrase.id)}}" target="Phrase">{{phrase.name}}</a>
      {% endfor %}
    </ul>
  </body>
</html>
