<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <script src="{{ url_for('static', filename='ops.js') }}"></script>
  </head>
  <body>
    <form id="Phrase_Header">
      <div id="Phrase_Name">Name:<input type="text" id="pname" name="pname"></div>
      <div id="Phrase_"


        <li><a href="{{url_for('phrase',ID=phrase.id)}}" target="Phrase">{{phrase.name}}</a>
      {% endfor %}
    </ul>
  </body>
</html>
