:root {
  /* Main App */
  --main-bg: #002E2C;
  --main-text: #E3E7AF;

  /* Phrase List */
  --phrases-bg: #A2A77F;
  --phrases-text: black;

  /*Phrase Editor*/
  --editor-toolbar-bg: #035E7B;
  --editor-toolbar-text: #E3E7Af;
  --editor-bg: #A2A77F;
  --editor-text: black;
}
body {
  font-family: "Times New Roman", Times, serif;
  background-color: var(--main-bg);
  color: var(--main-text);
  overflow: auto;
  margin:0;
}
/* The Modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.ModalDialog {
  background-color: #fefefe;
  color: black;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#New_Folder_Dialog input,
#New_Folder_Dialog select {
  margin-bottom: 10px;
  width: 190px;
}
#New_Folder_Dialog {
  height: 160px;
  display: none;
  width: 300px;
}
#Remove_Dialog {
  height: 215px;
  display: none;
  width: 365px;
}
#New_Folder_Dialog-ok,
#Remove_Dialog-no {
  float: right;
  font-weight: bold;
  margin-top: 10px;
}
#Remove_Dialog-yes {
  float: right;
  font-weight: bold;
  margin-top: 10px;
  margin-right: 10px;
}

/*--- Main Sections ---*/
#header {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--main-text);
}
#Main {
  width: 100%;
  height: calc(100vh - 81px);
  display: flex;
}
#Phrases,
#Phrase {
  display: inline-block;
  margin: 0px;
  padding: 0px;
}
#Phrases {
  width: 10%;
  border-Right: 1px solid var(--main-text);
  flex-grow: 1;
  resize: none;
  overflow: auto;
  background-color: var(--phrases-bg);
  color: var(--phrases-text);
}
#Phrase {
  max-width: 95%;
  min-width: 50%;
  flex-grow: 3;
}
#Phrase_Header{
  padding: 10px;
}
/*--- Toolbar ---*/
#Phrases-Toolbar {
  width: 100%;
  display: flex;
}
#Phrases-Toolbar button {
  flex: 1;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
}
#New_Phrase span:before {
  font-family: "Font Awesome 6 Free";
  content: "\f15c";
  display: inline-block;
  padding-right: 2px;
}
#New_Folder span:before {
  font-family: "Font Awesome 6 Free";
  content: "\f07b";
  display: inline-block;
  padding-right: 2px;
}
#Remove {
  background-color: darkred;
  color: white;
}
button.disabled {
  background-color: grey !important;
}
/*--- Phrase List ---*/
ul[role="tree"] {
  margin: 0;
  padding: 0;
  list-style: none;
  width: calc(100% - 30px);
}
ul[role="tree"] li {width: 100%;}
ul[role="tree"] li span {width:100%}
[role="group"] {padding-inline-start: 20px;}
[role="treeitem"].doc::before {
  font-family: "Font Awesome 6 Free";
  content: "\f15c";
  display: inline-block;
  padding-right: 2px;
  padding-left: 5px;
  vertical-align: middle;
}
[role="treeitem"][aria-expanded="false"] > ul {display: none;}
[role="treeitem"][aria-expanded="true"] > ul {display: block;}
[role="treeitem"][aria-expanded="false"] > span::before {
  font-family: "Font Awesome 6 Free";
  content: "\f07b";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
}
[role="treeitem"][aria-expanded="true"] > span::before {
  font-family: "Font Awesome 6 Free";
  content: "\f07c";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
}
[role="treeitem"],
[role="treeitem"] span {
  width: 9em;
  margin: 0;
  padding: 0.1em;
  display: block;
}
[role="treeitem"]:focus {outline: 0;}
[role="treeitem"].focus,
[role="treeitem"] span.focus {
  border-color: black;
  background-color: #eee;
}
[role="treeitem"].hover,
[role="treeitem"] span:hover {background-color: #ddd;}

/*--- Phrase Editor ---*/
#Phrase_Header,
#Phrase_Name,
#Phrase_Trigger,
#Phrase_Folder {
  padding-bottom: 5px;
}
#Phrase_Name input,
#Phrase_Trigger input,
#Phrase_Folder select {
  float:right;
  width:75%;
}
.ql-toolbar,
.ql-picker-label,
.ql-picker-label:before {
  background-color: var(--editor-toolbar-bg);
  color: var(--editor-toolbar-text);
}
.ql-toolbar.ql-snow .ql-formats:first-child{
  display: none;
  margin: 0px;
}
.ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill {
  fill: var(--editor-toolbar-text) !important;
}
.ql-snow .ql-stroke {
  stroke: var(--editor-toolbar-text) !important;
}
.ql-editor {
  background-color: var(--editor-bg);
  color: var(--editor-text);
  height: calc(100vh - 207px) !important;
  overflow-y: auto;
}
#Phrase_Text {
  height: calc(100vh - 207px);
}
